
﻿@model Emilia.Models.HomeViewmodel.IndexViewmodel

 @{ ViewData["Title"] = "Index"; }


<!-- <div class="row">
    <div class="col-sm-9 ">
        <div class="banner">
            <img class="img-fluid" src="~/images/533007 (1).png" />
            <div class="banner-over">
                <h2 class="banner-text">On sale: 20% OFF</h2>
            </div>
        </div>

        <div class="mt-2">
            <h3 class="sec-head-text">
                New Arrival
                <span class="float-right">more</span>
            </h3>
            <div class="row">
                <div class="col-sm-3">
                    @await Html.PartialAsync("_SearchPatial")
                </div>
            </div>
        </div>

        <div class="mt-2">
            <h3 class="sec-head-text">Best Seller</h3>
            <div class="h-box">
                <div class="h-container">
                    @for(var i = 0; i < 10; i++){ <div class="h-block mr-2">
                        <img class="img-fluid rounded-circle" src="~/images/002.jpg" />
                        <p class="text-center">
                            <b>Seller @String.Format("00{0}", i)</b>
                        </p>
                </div>
                }
            </div>
        </div>
    </div>

</div>
    <div class="col-sm-3">
        @await Html.PartialAsync("_SearchPatial")
    </div>
</div> -->

<div class="row">
    <div class="col-sm-9">
        <div class="banner">
            <img class="img-fluid" src="~/images/533007 (1).png" />
            <div class="banner-over">
                <h2 class="banner-text">On sale: 20% OFF</h2>
            </div>
        </div>


        <h3 class="sec-head-text bg-danger mb-0">New Arrival
            <span class="float-right">more</span>
        </h3>
        <div class="row px-3" id="shop-product-item">
            @foreach(var item in Model.ShopItems) {
            <div class="col-sm-3 p-0">
                <div class="card">
                    <img class="card-img-top shop-card-img" src="~/@item.Image" />
                    <div class="card-body">
                        <p style="height: 3em" class="card-text mb-0 mt-0">@item.Name</p>
                        <h5 class="left card-title text-danger">$@item.Price</h5>
                        <a asp-controller="Home" asp-action="Product" asp-route-id="@item.Id" class="right btn btn-sm btn-primary" >Order</a>
                        <span class=""></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <h3 class="sec-head-text bg-success mb-0">Best Seller</h3>
            <div class="h-box">
                <div class="h-container">
                    @foreach(var item in Model.SellerItems) { 
                          <a asp-controller="Shop" asp-action="Page" asp-route-id="@item.Id">
                        <div class="h-block mr-2">
                            <img class="img-fluid rounded-circle" src="~/@item.Logo" />
                            <p class="text-center">
                              <b>@Html.DisplayFor(m => item.Name)</b>
                            </p>
                        </div>
                        </a>
                }
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-3 bg-light px-0">
        @await Html.PartialAsync("_SearchPatial")
    </div>
</div>

