@model Emilia.Models.HomeViewModels.ProductHomeViewModel;
<div class="row">
    <div class="col-sm-5">
        <div class="row">
            @{ var count=1;}
            @foreach (var i in Model.Products)
            {
                if (count == 1)
                {
                    count++;
                    <div class="col-sm-12">
                      <img class="img-fluid" src="~/@i.ImgPath" alt="" >
                    </div>
                }
                else
                {
                 <div class="col-sm-3">
                    <img class="img-inline" src="~/@i.ImgPath">  
                 </div>
                }
            
            }
        </div>
    </div>
    @foreach (var pro in Model.Products)
    {
    <div class="col-sm-7">
        <h2 class="card-title"></h2>
        <h4 class="card-title">Price: @Html.DisplayFor(m => pro.UnitPrice)$</h4>
        <p class="card-text">Product Description: @Html.DisplayFor(m => pro.Details.Description)</p>

        <ul class="list-group">
            <li class=" d-flex list-group-item justify-content-between align-items-center">
                <span>Product ID</span><span>{Product id}</span>
            </li>
            <li class="d-flex list-group-item justify-content-between align-items-center">
                <span>Brand Name</span><span>@Html.DisplayFor(m => pro.Details.BrandName)</span>
            </li>
            <li class=" d-flex list-group-item justify-content-between align-items-center">
                <span>Made in</span><span>@Html.DisplayFor(m => pro.Details.Origin)</span>
            </li>
            <li class=" d-flex list-group-item justify-content-between align-items-center">
                <span>Tags</span><span>@Html.DisplayFor(m => pro.Details.Tags)</span>
            </li>
            <li class=" d-flex list-group-item justify-content-between align-items-center">
                    <span>Seller</span><span><a href="go-to-seller-shop-page">@Html.DisplayFor(m => pro.Seller.Name)</a></span>
                </li>
            <li class=" d-flex list-group-item  align-items-center">
                <span>Category:</span>
                <span>
                        &emsp;
                    <a href="/home/search?category=shirt">Shirt</a>&emsp;<a href="/home/search?category=exclusive">exclusive</a>&emsp;<a href="/home/search?category=limited">limited</a>
                </span>
            </li>
        </ul>
    </div>
    <div class="cleafix"></div>
    <div class="col-sm-7">
            <h3>Order</h3>
        <div class="snipper">
            <img class="snipper_img" src="~/@pro.ImgPath" alt="">
            <div class="snipper_text">
                <h6>@Html.DisplayFor(m => pro.Name)</h6>
                <p>Unit price :@Html.DisplayFor(m => pro.UnitPrice)</p>
            </div>
        </div>
        <div>
                @*<h6>Total price: ${Total Price}</h6>*@
            <form action="" class="form-inline w-100">
                @*<input type="hidden" name="productID" value="{ProductID}">
                <input type="hidden" name="sellerID" value="{SellerID">*@
                <div class="form-group">
                    <!-- <label class="form-label mr-1">Product:</label>
                    <input class="form-control mr-1" type="text" disabled value="{Product ID}" > -->
                    @*<label class="form-label mr-1" for="quanity">Quanity:</label>
                    <input class="form-control mr-1" id="quanity" type="number" value="1">*@
                    <button class="btn btn-md" id="ordering">Order</button>
                </div>
            </form>
        </div>
    </div>
    }
    <div class="col-sm-5">
        <h3>Contact infomation</h3>
        
    </div>
</div>