@model Emilia.Models.HomeViewmodel.PagingList<ShopItem>
@using Emilia.Models.HomeViewmodel

@{
    ViewData["Title"] = "Search Result";
}

<hr>
<div class="row">
    <div class="col-sm-9">
        <div class="row">
                @foreach(var item in Model)
                {
                <div class="col-sm-3  mt-1 p-0">
                    <div class="card item">
                        <img class="card-img-top" src="~/@item.Image" alt="pre-img">
                        <div class="card-body">
                            <p class="card-text">@item.Name</p>
                            <h6 class="card-title text-danger">$@item.Price</h6>
                            <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Ordering" asp-route-id="@item.Id">Order</a>
                        </div>
                    </div>  
                </div>
                }
        </div>
        @{
            var hasNext = !Model.HasNext? "disabled": "";
            var hasPrev = !Model.HasPrev? "disabled": "";
        }
            <nav style="display:inline-block;" class="mt-2" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item @hasPrev">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                 </li>
                @for(var i = 1; i<=@Model.TotalPage; i++)
                {
                    <li class="page-item"><a class="page-link"asp-controller="Home" asp-action="Search" asp-route-page="@i">@i</a></li>
                }
                <li class="page-item @hasNext">
                <a class="page-link"  >Next</a>
                </li>
                <li class="ml-3">
                    <form method="GET" class=" form-inline">
                            <div class="form-group">
                                <input class="form-control" name="page" type="number|text" placeholder="Go to page">
                              <input class="btn ml-1" type="submit" value="GO">
                        </div>
                    </form>
                </li>
            </ul>
            </nav>
           
    </div>
    <div class="col-sm-3">
        @await Html.PartialAsync("_SearchPatial")
    </div>
</div>

<div>

</div>