@model Emilia.Models.ProductViewModel.ProductIndexViewModel
@using Emilia.Models
@using Emilia.Models.ProductViewModel

@{ Layout = "~/Views/Shared/_Dashboard.cshtml"; 
    var counter = 0;
} 
@await Html.PartialAsync("productNav")

<div class="row">
    <div class="col-sm-9">
        <h5>Product list</h5>
        <form class="form form-inline" asp-controller="Product" asp="Index">
            <div class="form-group" >
                <input name="term" class="form-control form-control-sm" value=@ViewData["term"] type="text" placeholder="Code or Name">
            </div>
            <div class="form-group">
                <select class="custom-select custom-select-sm" name="pub" ViewData["pub"] id="pub">
                    <option selected=@(Int32.Parse(ViewData["pub"].ToString())==0) value="0">All</option>
                    <option selected=@(Int32.Parse(ViewData["pub"].ToString())==1) value="1">Active Only</option>
                    <option selected=@(Int32.Parse(ViewData["pub"].ToString())==2) value="2">NoActive Only</option>
                </select>
            </div>
            <div class="form-group">
                <label class="from-control-label form-control-sm">Sort by:</label>
                <input checked=@(Int32.Parse(ViewData["order"].ToString())==0) class="from-control form-control-sm" type="radio" name="order" value="0">
                <label class="from-control-label form-control-sm">Ascend</label>
                <input checked=@(Int32.Parse(ViewData["order"].ToString())==1) class="from-control form-control-sm" type="radio" name="order" value="1">
                <label class="from-control-label form-control-sm">Descend</label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-sm" value="Filter"/>
            </div>&emsp;&emsp;
            <a class="nav-link" asp-controller="Product" asp-action="index" asp-route-t="rec" >Recent items</a>&emsp;
            <a class="nav-link" asp-controller="Product" asp-action="index" asp-route-t="old" >Older items</a>
        </form>
        <div class="light_border "  id="product_panel" >
            <!-- <ul>
                @foreach(var item in Model.Products)
                {
                    <li class="product_item clearfix">
                            <img  src="~/@item.FirstImage()" alt="">
                            <div class="product_detail_wrapper">
                                <span>@Html.DisplayFor(m => item.Id)</span>
                                <span>@Html.DisplayFor(m => item.Name)</span>
                                <span>@Html.DisplayFor(m => item.category)</span>
                                <span>$@Html.DisplayFor(m => item.UnitPrice)</span>
                                <span>@Html.DisplayFor(m => item.Created)</span>
                                <span class="text-muted">@item.ImageCount() Photo</span>
                            </div>
                            <div class=" float-right">
                                <a class=" fa fa-info " asp-controller="product" asp-action="detail" asp-route-id="@item.Id"></a>
                                <a class=" fa fa-edit" asp-controller="product" asp-action="edit" asp-route-id="@item.Id"></a>
                                <a class=" fa fa-trash" asp-controller="product" asp-action="delete" asp-route-id="@item.Id"></a>
                            </div>
                           @if(item.Published)
                           {
                               <a id="btnUnpub" class="btn btn-link" asp-controller="product" asp-action="publish" asp-route-id="@item.Id">Unpublish</a> 
                           }else {
                               <a id="btnUnpub" class="btn btn-link" asp-controller="product" asp-action="publish" asp-route-id="@item.Id">Unpublish</a> 
                            <a id="btnPub" class="" asp-controller="product" asp-action="publish" asp-route-id="@item.Id">publish</a>
                           }
                        </li>
                }
                
            </ul> -->

            <table class="table table-striped">
                @foreach(var item in Model.Products)
                {
                    var btnUnpub = item.Published == false ? "d-none": "";  
                    var btnPub = item.Published? "d-none": "";    

                    <tr>
                        <td><img width="50" height="50" src="~/@item.FirstImage()"></td>
                        <td >@Html.DisplayFor(m => item.Id)</td>
                        <td >@Html.DisplayFor(m => item.Name)</td>
                        <td >@Html.DisplayFor(m => item.category)</td>
                        <td >$@Html.DisplayFor(m => item.UnitPrice)</td>
                        <td >@Html.DisplayFor(m => item.Created)</td>
                        <td>
                            <!-- <a class=" fa fa-info " asp-controller="product" asp-action="detail" asp-route-id="@item.Id"></a>
                            <a class=" fa fa-edit" asp-controller="product" asp-action="edit" asp-route-id="@item.Id"></a>
                            <a class=" fa fa-trash" asp-controller="product" asp-action="delete" asp-route-id="@item.Id"></a> -->
                            <a class="btn btn-link btn-sm" asp-controller="product" asp-action="detail" asp-route-id="@item.Id">View</a>
                            <a class="btn btn-link btn-sm" asp-controller="product" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-link btn-sm" asp-controller="product" asp-action="delete" asp-route-id="@item.Id"Remove></a>

                            <a class="btnUnpub btn btn-danger btn-sm @btnUnpub" data-order=@counter asp-controller="product" asp-action="publish" asp-route-id="@item.Id">NoActive</a> 
                            <a class="btnPub btn btn-success btn-sm @btnPub" data-order=@counter asp-controller="product" asp-action="publish" asp-route-id="@item.Id">Active</a> 
                           
                        </td>
                    </tr>
                    counter++;
                }
            </table>
        </div>
        <div class="card-footer bg-light">
            <span class="text-dark h5"> Search result:</span> <span class="text-info h5"> @Model.Count</span>
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>