
@{
}
@model Emilia.Models.OrderingViewModels.OrderingDetailViewModel
@using Emilia.Models
<div class="row">
    @foreach(var i in Model.Orders)
    {
    <div class="col-sm-3">
        <div class="wall">
            <div class="wall-head">
                <h3>@Html.DisplayFor(m => i.Product.Name) </h3>
            </div>
            <div class="wall-body">
                <img class="img-fluid" src="~/@i.Product.FirstImage()" />
            </div>
            <div class="wall-footer text-dark">
                <h3>SellerName: <small>@Html.DisplayFor(m => i.Seller.Name) @Html.DisplayFor(m => i.Customer.Lastname)</small></h3>
                <h3>Phone: <small>@Html.DisplayFor(m => i.Seller.Tel)</small></h3>
                <h3>Quanity: <small>@Html.DisplayFor(m => i.Quanity)</small></h3>
                <h3>Total Price: <small>@Html.DisplayFor(m => i.TotalPrice)$</small></h3>
                <h3>Order Date: <small>@Html.DisplayFor(m => i.OrderDate)</small></h3>
                @if(i.Delivery == true)
                {
                    <span class="text-success fa fa-check">Check out</span>
                }else 
                {
                    <span class="text-danger fa fa-cross">Pending</span>
                }
                <br />
                @*<button class="btn btn-primary" id="@i.Id">Delivery</button>*@
            </div>
        </div>
    </div>
    }
</div>

